@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Poppins', ui-sans-serif, system-ui, sans-serif;
  background-color: #F5F6FA; /* lindyGray */
  color: #1A2233;            /* lindyNavy */
  margin: 0;
  padding: 0;
} 